*.pdf
*.pptx
*.zip
Data_scientist/Module_1.17/15.1_README.md
Data_Scientist/kiva/
*.csv
Data_scientist/Module_1.14/
Data_scientist/Module_1.15/
Data_scientist/Module_1.16/
Untitled.ipynb
Probe.ipynb
*checkpoint.ipynb
*.xlsx
*notes.txt
*.json
Data_scientist_Entry_level_analytics/12_Work_with_strings/data-2/
Data_scientist_Entry_level_analytics/12_Work_with_strings/__MACOSX/
Data_scientist_Entry_level_analytics/14_Module_1_Exam/exam-Egor.ipynb
Course_work_entry_level_analyst/Cousework_analytics_1/Pervaia_kursovaia_rabota_Variant_resheniia.ipynb
*.docx
rename_files.ipynb
*.pkl
*.png
*.html
