*.pdf
*.pptx
*.zip
Data_scientist/Module_1.17/15.1_README.md
Data_Scientist/kiva/
*.csv
Data_scientist/Module_1.14/
Data_scientist/Module_1.15/
Data_scientist/Module_1.16/
Untitled.ipynb
Probe.ipynb
*checkpoint.ipynb
*.xlsx
